---
layout: home
---
<div class="user-details">
<h2> Welcome to my Website </h2>
<p style="text-align: justify;">Currently I am a Junior Postgraduate majoring in <dfn>Computer Science and Technology</dfn> in Peking University. And I got my bachelor degree in <dfn>Mathematics and applied Mathematics</dfn> in Nankai University.</p>
<p style="text-align: justify;">Here is my personal website. This project is an <a href="https://github.com/ssskz/ssskz.github.io" target="_blank">open source</a>, so you are free to improve it.</p>
<p style="text-align: justify;">This website contains <a href="https://ssskz.github.io/about/CV.pdf" target="_blank">my resume</a>, news and blog. You are always welcomed to comment on my website for any suggestions or discussions.</p>
<p style="text-align: justify;">Thanks for your coming and wish you a good day!</p>
<div class="analytics"  style="border: solid lightgrey; border-radius: 5px;">
	<h3> Analytics </h3>
	{% include clustrmap.html style="js" %}
	<p> <small> If you are not seeing a map, please disable Ad block </small></p>
</div>
</div>
<div class="permlinks">
<h2>Recent Posts</h2>
<dl>
	{% for post in site.posts limit:3 %}
	<dt><code>{{ post.date | date_to_string }} </code><i class="fas fa-angle-double-right" aria-hidden="true"></i><a href="{{ post.url }}">{{ post.title }}</a> &nbsp;{% include status-indicator.html status=post.status%}
	{% if post.description %}
 <dd style="text-align: justify">{{ post.description | markdownify }}
    </dd>
	{% endif %}
	{% endfor %}
	<p>... <a href="/blog">Full Posts List</a> </p>
</dl>

<h2>Upcoming Posts</h2>
<ul>
	<li>CUDA</li>
	<li>JAVA</li>
	<li>MPI Parallel Programming</li>
	<li>Data Structure</li>
	<li>Financial Engineering</li>
</ul>

</div >
