{% if include.style == "js" %}  
<script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=012d54&w=300&t=m&d=5Gf_tr_hLZzPlx6cisV88IXSh4CqG4tmaxMv-Bf7wpQ&co=f2f2f2&cmo=42b983&cmn=ff3c3c&ct=b5b059'></script>
{% elsif include.style == "hiddenpng" %}  
<div hidden class="analytics" aria-hidden="true">
	 <img src="//www.clustrmaps.com/map_v2.png?d={{ site.author.clustrmap }}&cl=ffffff" />
</div>
{% else %}
	 <img src="//www.clustrmaps.com/map_v2.png?d={{ site.author.clustrmap }}&cl=ffffff" />
{% endif %}
